<nav class="navbar navbar-fixed">
  <span class="spacer"></span>
  <a routerLink="/admin-login" routerLinkActive="active" mat-button>Admin Login</a>
</nav>
<main class="container center-align wrapper v-align">
  <h1>Welcome to the Job Portal!</h1>
  <br><br>
  <div class="block-center l-400">
    <div class="row">
      <div class="col">
        <p>New here?</p>
        <a routerLink="/register" routerLinkActive="active" mat-raised-button color="accent">Register Now</a>
      </div>
      <div class="col">
        <p>Already registered?</p>
        <a routerLink="/login" routerLinkActive="active" mat-raised-button color="primary">Sign In</a>
      </div>
    </div>
  </div>
</main>